BOT_TOKEN=
OWNER_USER_ID=0
BOT_TITLE="多鏈地址交易監控"
BOT_STATUS_TITLE="全鏈監控"
BOT_USAGE_NOTICE=
DISPLAY_TIMEZONE_OFFSET_MINUTES=0
NOTIFICATION_INTERVAL_SECONDS=5
TELEGRAM_GLOBAL_RPS=20
HOUSEKEEPING_INTERVAL_SECONDS=1
MENU_TTL_SECONDS=600
FILTER_PAGE_SIZE=5
ADDRESS_PAGE_SIZE=10
ADDRESS_PENDING_LIMIT=20
RECENT_CACHE_MIB=256
RECENT_CACHE_MAX_ENTRIES=50000
NOTIFICATION_WORKERS=32
TOKEN_LOOKUP_WORKERS=4
TOKEN_LOOKUP_MAX_PENDING=32
OBSOLETE_RECORD_DAYS=7
CONFIRMED_RECORD_DAYS=30
MAX_DISPOSABLE_RECORDS=25000
